* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Questrial", sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  color: $white;
  background-color: rgba(15, 15, 15, 1);
  position: fixed;
  width: 100%;
}

h1,
h2,
h3,
h4,
p {
  &::selection {
    background: $blue;
  }
}
h1 {
  font-size: 7rem;
}

h2 {
  font-size: 3rem;
}

p {
  font-size: 1.7rem;
}

a {
  color: $white;
  text-decoration: none;
}
