.footer {
  display: flex;
  justify-content: space-between;
  width: 100%;
  position: fixed;
  bottom: 0;
  .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and (max-width: $bp-tablet) {
      padding-left: 0.5rem;
    }
    .social-link {
      margin: 0rem 1rem;
      transition: all 0.2s cubic-bezier(0.43, 1.95, 0.51, 0.71);
      @media screen and (max-width: $bp-tablet) {
        transition: none;
        margin: 0rem 0.5rem;
      }
      &:hover {
        transform: scale(1.1);
        opacity: 0.8;
        transition: all 0.2s cubic-bezier(0.43, 1.95, 0.51, 0.71);
        @media screen and (max-width: $bp-phone) {
          transform: none;
          opacity: inherit;
        }
      }
      a {
        img {
          height: 50px;
          width: auto;
          @media screen and (max-width: $bp-tablet) {
            height: 30px;
          }
        }
      }
    }
  }
  .copyright {
    height: 100%;
    display: flex;
    margin-right: 1rem;
    color: $white;
    @media screen and (max-width: $bp-tablet) {
      font-size: 0.9rem;
      align-self: flex-start;
      margin-right: 1.5rem;
      margin-top: 2rem;
    }
    @media screen and (max-width: $bp-xs) {
      font-size: 0.6rem;
    }
  }
}
