.site-header {
  display: flex;
  width: 100%;
  padding: 2rem;
  position: fixed;
  height: $header-height;
  z-index: 9;
  @media screen and (max-width: $bp-phone) {
    padding: 1rem;
    height: 92px;
  }
  .logo-holder {
    display: flex;
    align-items: center;
    height: fit-content;
    @media screen and (max-width: $bp-tablet) {
      margin-left: 0;
    }
    .home-logo {
      height: 100px;
      width: auto;
      transition: transform 0.2s;
      transition-timing-function: cubic-bezier(0.43, 1.95, 0.51, 0.71);
      @media screen and (max-width: $bp-phone) {
        height: 60px;
      }
      &:hover {
        transform: scale(1.1);
        transition: transform 0.2s;
        transition-timing-function: cubic-bezier(0.43, 1.95, 0.51, 0.71);
        @media screen and (max-width: $bp-tablet) {
          transform: none;
        }
      }
    }
  }
  .main-nav {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    padding-top: 1rem;
    max-height: 100px;
    @media screen and (max-width: $bp-phone) {
      padding-top: 0;
      height: 60px;
    }
    .tag {
      margin: 0 0.8rem;
      padding: 1rem;
      font-size: 1.4rem;
      font-weight: bold;
      text-decoration: none;
      transition: background-size 0.07s ease-in-out;
      background: linear-gradient(to bottom, $white 0%, $white 100%);
      background-position: 0 50%;
      background-repeat: repeat-x;
      background-size: 0px 0px;
      @media screen and (max-width: $bp-tablet) {
        background: none;
        padding: 0.4rem;
        margin: 0 1rem;
        font-size: 1rem;
      }
      @media screen and (max-width: $bp-phone) {
        padding: 0.4rem;
        margin: 0rem;
        font-size: 1rem;
      }
      @media screen and (max-width: $bp-xs) {
        font-size: 0.8rem;
      }
      &:hover {
        background-size: 1px 40px;
        transition: background-size 0.07s ease-in-out;
        color: $pink;
        @media screen and (max-width: $bp-tablet) {
          color: $white;
        }
      }
    }
  }
}
