.home {
  /* background by SVGBackgrounds.com */
  background-image: url("#{$path}endless-constellation.svg");
  background-attachment: fixed;
  background-size: 17%;
  background-position-x: 0%;
  transition: all 0.7s;
  animation: bg-zoom 25s ease-in-out 0s infinite alternate forwards running;
  min-height: calc(100vh + 5rem);
  margin-top: -5rem;
  @media screen and (max-width: $bp-tablet) {
    animation: none;
    background-size: 40%;
  }
}

.about,
.contact,
.projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 90%;
  background-blend-mode: screen;
  min-height: calc(100vh + 5rem);
  margin-top: -5rem;
}

// backgrounds

.about {
  background-image: url("#{$path}mountains.svg");
  /* background by SVGBackgrounds.com */
  /* Animations by myself, Andrew Hale */
  @media screen and (max-width: $bp-tablet) {
    background-position-x: 40%;
    animation: background-slide 3s ease-in-out 0.7s 1 forwards;
  }
}
.contact {
  background-image: url("#{$path}contact-bg.svg");
  @media screen and (max-width: $bp-tablet) {
    background-position-x: 40%;
  }
}

.home-page-content {
  width: fit-content;
  margin: 0 auto;
  transform: translateY(80%);
  padding: 1rem 2rem 0 2rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-grow: 1;
  max-width: 1000px;
  @media screen and (max-width: $bp-phone) {
    padding: 4rem 2rem;
    margin: 0 auto;
  }
  @media screen and (max-width: $bp-xs) {
    padding-top: 0rem;
    margin: 0 auto;
  }
}

.page-content {
  width: 800px;
  margin: 0 6rem;
  @media screen and (max-width: $bp-tablet) {
    margin: 0 auto;
    padding: 0 2rem;
  }
}

.page-title {
  margin: 0 auto 0 0;
  padding: 0;
  display: flex;
  position: relative;
  &:before {
    @include underline-slide;
    background: $white;
  }
  @media screen and (max-width: $bp-tablet) {
    align-self: flex-start;
    font-size: 6rem;
    padding-left: 0rem;
  }
  @media screen and (max-width: $bp-phone) {
    font-size: 5rem;
    margin-top: 0.5rem;
  }
  @media screen and (max-width: $bp-xs) {
    font-size: 3rem;
    margin-top: 0.2rem;
  }
}

.page-text {
  display: flex;
  flex-direction: column;
  padding-left: 0rem;
  margin-right: auto;
  .text {
    letter-spacing: 0.12rem;
    line-height: 2.3rem;
    @media screen and (max-width: $bp-phone) {
      font-size: 1.25rem;
    }
    @media screen and (max-width: $bp-xs) {
      font-size: 0.9rem;
      letter-spacing: 0.07rem;
      line-height: 1.5rem;
    }
  }
}

.show {
  opacity: 1;
  transition: all 1s ease-in-out;
}

.no-link {
  background: none;
  color: $white;
  cursor: pointer;
}

#map {
  height: 325px;
  width: 80vw;
  border-radius: $border-radius;
  margin: 2rem auto 0rem auto;
  @media screen and (max-width: $bp-tablet) {
    height: 225px;
  }
}

.reveal-map {
  opacity: 0;
}
