.about {
    .tag {
        &:hover {
            color: $black;
            @media screen and (max-width: $bp-tablet) {
                color: $white;
            }
        }
    }
    .footer {
        .copyright {
            margin-left: auto;
            color: $white;
        }
    }
}